[submodule "mf-ecommerce-provider"]
	path = mf-ecommerce-provider
	url = https://github.com/rizkyhaksono/mf-ecommerce-provider
[submodule "mf-payment-consumer"]
	path = mf-payment-consumer
	url = https://github.com/rizkyhaksono/mf-payment-consumer
[submodule "mf-product-consumer"]
	path = mf-product-consumer
	url = https://github.com/rizkyhaksono/mf-product-consumer