[submodule "mf-ecommerce-consumer"]
	path = mf-ecommerce-consumer
	url = https://github.com/rizkyhaksono/mf-ecommerce-consumer
[submodule "mf-payment-provider"]
	path = mf-payment-provider
	url = https://github.com/rizkyhaksono/mf-payment-provider
[submodule "mf-product-provider"]
	path = mf-product-provider
	url = https://github.com/rizkyhaksono/mf-product-provider